.actions__btn,
.actions-certificate__btn,
.btn-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1210px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #23283B;
}

.title_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__name {
  font-size: 14px;
  line-height: calc(17/14);
  position: relative;
  padding: 0px 0px 0px 55px;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.title__name._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.title__name:before {
  content: '';
  width: 40px;
  height: 1px;
  background: #E6514A;
  position: absolute;
  left: 0px;
  top: 50%;
}

.title__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.3;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.title__text._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.title__text_start {
  text-align: left;
}

.title__text_center {
  text-align: center;
}

.page {
  margin-top: 90px;
}

body._lock {
  overflow: hidden;
}

.menu-header {
  position: relative;
}

.menu-header__burger {
  width: 40px;
  height: 40px;
  position: relative;
}

.menu-header__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-header__burger._active:before {
  top: 0;
  -webkit-transform: rotate(45deg) translate(4px, -1px);
      -ms-transform: rotate(45deg) translate(4px, -1px);
          transform: rotate(45deg) translate(4px, -1px);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 49px;
}

.menu-header__burger._active:after {
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-45deg) translate(-4px, -1px);
      -ms-transform: rotate(-45deg) translate(-4px, -1px);
          transform: rotate(-45deg) translate(-4px, -1px);
  width: 49px;
}

.menu-header__burger:before,
.menu-header__burger:after,
.menu-header__burger span {
  content: '';
  width: 100%;
  background: #000;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-header__burger:before {
  top: 7px;
}

.menu-header__burger:after {
  bottom: 7px;
}

.menu-header__burger span {
  top: 50%;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.menu-header__body {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.menu-header__body._active {
  opacity: 1;
  visibility: visible;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background: #3035C3;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
          box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  left: 0;
}

.header__container {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s all ease .2s;
  -o-transition: .5s all ease .2s;
  transition: .5s all ease .2s;
}

.header__logo._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__pnumber {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s all ease .3s;
  -o-transition: .5s all ease .3s;
  transition: .5s all ease .3s;
}

.header__pnumber._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.header__pnumber a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  display: inline-block;
}

.header__pnumber p {
  font-size: 9px;
  color: #fff;
  margin-top: 2px;
}

.header__pnumber_1 {
  -webkit-transition: .5s all ease .5s;
  -o-transition: .5s all ease .5s;
  transition: .5s all ease .5s;
  margin-right: 85px;
}

.header__pnumber_1 a {
  padding-left: 28px;
  line-height: 20px;
  background: url("../img/phone.svg") 0 0/20px 20px no-repeat;
}

.header__pnumber_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__pnumber_2 a {
  padding-left: 32px;
  line-height: 28px;
  background: url("../img/whatsapp.svg") 0 0/28px 28px no-repeat;
}

.main {
  background: #3035C3;
  padding: 80px 0px 114px 0px;
  position: relative;
  margin-bottom: 100px;
}

.main__text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  margin-bottom: 32px;
}

.main__pretitle {
  font-weight: bold;
  font-size: 16px;
  color: #E6514A;
  margin-bottom: 32px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease .3s;
  -o-transition: .5s all ease .3s;
  transition: .5s all ease .3s;
}

.main__pretitle._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.main__title {
  font-weight: 800;
  font-size: 52px;
  color: #fff;
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease .4s;
  -o-transition: .5s all ease .4s;
  transition: .5s all ease .4s;
}

.main__title._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.main__subtitle {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  max-width: 600px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease .5s;
  -o-transition: .5s all ease .5s;
  transition: .5s all ease .5s;
}

.main__subtitle._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.main__picture {
  position: absolute;
  top: 0;
  width: 40%;
  right: 0;
  overflow: hidden;
  max-height: 720px;
  border-radius: 0px 0px 0px 70px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 1s;
  -o-transition: .5s all ease 1s;
  transition: .5s all ease 1s;
}

.main__picture._active {
  opacity: 1;
  visibility: visible;
}

.main__picture img {
  width: 100%;
  border-radius: 0px 0px 0px 60px;
}

._bold {
  font-weight: bold;
}

.bonuses {
  margin-bottom: 60px;
}

.bonuses__item {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding-left: 44px;
  display: block;
  margin-bottom: 20px;
  background: url("../img/Check.svg") 0 0/24px 24px no-repeat;
}

.bonuses__item_1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease .5s;
  -o-transition: .5s all ease .5s;
  transition: .5s all ease .5s;
}

.bonuses__item_1._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.bonuses__item_2 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease .6s;
  -o-transition: .5s all ease .6s;
  transition: .5s all ease .6s;
}

.bonuses__item_2._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.bonuses__item:last-child {
  margin-bottom: 0;
}

.actions__title {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease .7s;
  -o-transition: .5s all ease .7s;
  transition: .5s all ease .7s;
}

.actions__title._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.actions__btn,
.actions-certificate__btn,
.btn-footer__item {
  width: 370px;
  height: 52px;
  background: #E6514A;
  border-radius: 26px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s opacity ease .8s, .5s transform ease .8s;
  -o-transition: .5s opacity ease .8s, .5s transform ease .8s;
  transition: .5s opacity ease .8s, .5s transform ease .8s;
}

.actions__btn._active,
._active.actions-certificate__btn,
._active.btn-footer__item {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.actions__btn:hover,
.actions-certificate__btn:hover,
.btn-footer__item:hover {
  background: #E2433C;
}

.bonus {
  margin-bottom: 100px;
}

.bonus__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bonus__title {
  max-width: 970px;
  margin-bottom: 52px;
}

.bonus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0px -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bonus__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0px 15px;
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.bonus__column._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.bonus__column_1 {
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bonus__column_2 {
  -webkit-transition: .5s all ease .1s;
  -o-transition: .5s all ease .1s;
  transition: .5s all ease .1s;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}

.bonus__column_3 {
  -webkit-transition: .5s all ease .2s;
  -o-transition: .5s all ease .2s;
  transition: .5s all ease .2s;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.bonus__item {
  background: #fff;
  -webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
          box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  border-radius: 10px;
  padding: 30px;
}

.bonus__sign {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #23283B;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.bonus__sign._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.title-bonus__name {
  -webkit-transition: .5s all ease 1.1s;
  -o-transition: .5s all ease 1.1s;
  transition: .5s all ease 1.1s;
}

.item-bonus {
  height: 100%;
  position: relative;
}

.item-bonus__title {
  color: #3035C3;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 35px;
}

.item-bonus__subtitle {
  color: #23283B;
  font-size: 14px;
}

.item-bonus__text {
  font-size: 16px;
  line-height: 1.5;
  color: #23283B;
}

.item-bonus__text p {
  margin-bottom: 12px;
  position: relative;
  padding-left: 12px;
}

.item-bonus__text p:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #E6514A;
  position: absolute;
  top: 10px;
  left: 0;
}

.item-bonus__text p:last-child {
  margin-bottom: 0;
}

.item-bonus__number {
  font-size: 240px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 293px;
  color: #E6514A;
  opacity: .1;
  position: absolute;
  right: 20px;
  bottom: 0;
}

.advantages {
  background: #F8F8FF;
  margin-bottom: 100px;
  padding: 80px 0px 0px 0px;
  position: relative;
  z-index: 1;
}

.advantages:before {
  content: '';
  width: 100%;
  height: 155px;
  background: #fff;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.advantages__title {
  margin-bottom: 43px;
}

.advantages__content {
  margin-bottom: 60px;
  position: relative;
  z-index: 3;
}

.item-advantages {
  color: #23283B;
  line-height: 1.5;
  max-width: 570px;
  padding-left: 44px;
  position: relative;
  margin-bottom: 24px;
}

.item-advantages:last-child {
  margin-bottom: 0;
}

.item-advantages:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 3px;
  background: url("../img/Check.svg") 0 0/24px 24px no-repeat;
}

.item-advantages__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.item-advantages__title._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.item-advantages__subtitle {
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.item-advantages__subtitle._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.certificate-advantages {
  background: #3035C3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 70px;
  -webkit-box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
          box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
  border-radius: 30px;
  position: relative;
  z-index: 2;
}

.certificate-advantages__picture {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.certificate-advantages__picture._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.certificate-advantages__hands {
  position: absolute;
  right: 24px;
  bottom: 0;
  width: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.certificate-advantages__hands._active {
  top: 0;
  bottom: auto;
  -webkit-transform: scale(1) translateY(-100%);
      -ms-transform: scale(1) translateY(-100%);
          transform: scale(1) translateY(-100%);
  opacity: 1;
  visibility: visible;
}

.certificate-advantages__hands img {
  width: 100%;
}

.actions-certificate {
  margin-left: 20px;
}

.actions-certificate__title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  max-width: 550px;
  color: #fff;
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.actions-certificate__title._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.actions-certificate__btn {
  max-width: 370px;
  width: 100%;
}

.additions {
  margin-bottom: 100px;
}

.additions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.additions__title {
  max-width: 970px;
  margin-bottom: 52px;
}

.additions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.additions__content:last-child {
  margin-bottom: 0;
}

.additions__content_1 .additions__picture {
  margin-bottom: 20px;
}

.additions__content_1 .additions__column {
  margin-left: 20px;
}

.additions__content_2 .additions__picture {
  margin-top: 20px;
}

.additions__content_2 .additions__column {
  margin-right: 20px;
}

.additions__picture {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.additions__picture._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.additions__picture img {
  border-radius: 0px 60px 0px 60px;
}

.row-additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}

.row-additions:last-child {
  margin-bottom: 0px;
}

.row-additions__icon {
  width: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
          box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.row-additions__icon._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.row-additions__text {
  max-width: 500px;
  color: #23283B;
  padding-top: 22px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.row-additions__text._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.row-additions__name {
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 16px;
}

.row-additions__description {
  font-size: 16px;
  line-height: 1.5;
}

.row-additions__description p {
  margin-bottom: 20px;
}

.row-additions__description p:last-child {
  margin-bottom: 0;
}

.result {
  margin-bottom: 100px;
  position: relative;
}

.result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__title {
  max-width: 849px;
  margin-bottom: 25px;
}

.result__content {
  height: 350px;
  width: 100%;
}

.result__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 350px;
  width: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(6, 0);
      -ms-transform: scale(6, 0);
          transform: scale(6, 0);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.result__bg._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.result__box {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-result {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-result_2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-result_3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-result_5 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-result__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
          box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.item-result__icon._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.item-result__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #23283B;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.item-result__text._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.cost {
  margin-bottom: 100px;
}

.cost__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost__title {
  margin-bottom: 52px;
}

.cost__form {
  margin-bottom: 44px;
  width: 100%;
}

.cost__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.cost__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  color: #23283B;
  margin-bottom: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.cost__line._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.cost__line:last-child {
  margin-bottom: 0;
}

.cost__line div {
  color: #3035C3;
}

.cost__warning {
  text-align: center;
}

.cost__stocks {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.3;
  font-family: "Montserrat", sans-serif;
  color: #E6514A;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.cost__stocks._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.form-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-cost__title {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: calc(20/16);
  color: #23283B;
  margin-bottom: 32px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.form-cost__title._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.form-cost__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-cost__input {
  margin-right: 16px;
  margin-bottom: 16px;
  width: 200px;
  height: 52px;
  background-color: transparent;
  border-radius: 40px;
  border: 1px solid #D6D8E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.form-cost__input:last-child {
  margin-right: 0;
}

.form-cost__input input {
  display: none;
}

.form-cost__input input:checked + label:after {
  opacity: 1;
  visibility: visible;
}

.form-cost__input label {
  cursor: pointer;
  color: #23283B;
  font-size: 14px;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
}

.form-cost__input label:before,
.form-cost__input label:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.form-cost__input label:before {
  width: 20px;
  height: 20px;
  border: 1px solid #B3B4BB;
  left: 0;
  top: 0;
}

.form-cost__input label:after {
  width: 12px;
  height: 12px;
  background: #3035C3;
  left: 4px;
  top: 4px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-cost__input._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.form-cost__input_1 {
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.form-cost__input_2 {
  -webkit-transition: .5s all ease .1s;
  -o-transition: .5s all ease .1s;
  transition: .5s all ease .1s;
}

.form-cost__input_3 {
  -webkit-transition: .5s all ease .2s;
  -o-transition: .5s all ease .2s;
  transition: .5s all ease .2s;
}

.form-cost__input_4 {
  -webkit-transition: .5s all ease .3s;
  -o-transition: .5s all ease .3s;
  transition: .5s all ease .3s;
}

.form-cost__input_5 {
  -webkit-transition: .5s all ease .4s;
  -o-transition: .5s all ease .4s;
  transition: .5s all ease .4s;
}

.warning-cost {
  font-family: "Montserrat", sans-serif;
  color: #23283B;
  line-height: 1.3;
  max-width: 970px;
  margin-bottom: 32px;
}

.warning-cost__main {
  font-weight: 800;
  font-size: 32px;
  color: #E6514A;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.warning-cost__main._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.warning-cost__plain {
  font-weight: 400;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.warning-cost__plain._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.warning-cost__general {
  font-size: 24px;
  font-weight: 800;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.warning-cost__general._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.popup {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(35, 40, 59, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: default;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.popup__close {
  position: absolute;
  z-index: 22;
  top: 24px;
  right: 24px;
  font-size: 24px;
}

.popup__content {
  background: #fff url("../img/Base.jpg") 0 0/auto 100% no-repeat;
  border-radius: 20px;
  padding: 52px 70px 52px 400px;
  position: relative;
  z-index: 21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__container {
  max-width: 306px;
}

.popup__header {
  margin-bottom: 36px;
}

.popup__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.3;
  color: #3035C3;
  margin-bottom: 12px;
}

.popup__subtitle {
  font-size: 14px;
  line-height: 1.5;
  color: #23283B;
}

.popup__submit {
  width: 300px;
  height: 52px;
  background: #E6514A;
  border-radius: 26px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

.popup__submit:hover {
  background: #E2433C;
}

.input-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.input-popup__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(17/14);
  color: #23283B;
  margin-bottom: 8px;
}

.input-popup input {
  max-width: 300px;
  width: 100%;
  border-radius: 26px;
  padding: 0px 20px;
  border: 1px solid rgba(101, 105, 118, 0.2);
  height: 52px;
}

.input-popup input::-webkit-input-placeholder {
  color: rgba(101, 105, 118, 0.4);
}

.input-popup input::-moz-placeholder {
  color: rgba(101, 105, 118, 0.4);
}

.input-popup input:-ms-input-placeholder {
  color: rgba(101, 105, 118, 0.4);
}

.input-popup input::-ms-input-placeholder {
  color: rgba(101, 105, 118, 0.4);
}

.input-popup input::placeholder {
  color: rgba(101, 105, 118, 0.4);
}

.footer {
  padding: 100px 0px;
}

.footer__text {
  font-size: 32px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  margin-bottom: 52px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .5s all ease 0s;
  -o-transition: .5s all ease 0s;
  transition: .5s all ease 0s;
}

.footer__text._active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  visibility: visible;
}

.btn-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-footer__item {
  width: 270px;
  margin-right: 30px;
}

.btn-footer__item:last-child {
  margin: 0;
}

.btn-footer__item_2 {
  background: #fff;
  color: #3035C3;
}

.btn-footer__item_2:hover {
  color: #2B2F9C;
  background: #fafafa;
}

@media (min-width: 993px) {
  .header__pnumber a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1700px) {
  .title__text_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bonus__title {
    max-width: 100%;
  }
}

@media (max-width: 1700px) {
  .item-result_5 {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 1560px) {
  .main {
    padding: 50px 0px;
  }
}

@media (max-width: 1530px) {
  .item-result_4 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 1460px) {
  .item-result_1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .main {
    margin-bottom: 200px;
  }

  .main__title {
    font-size: 40px;
  }

  .main__picture {
    width: 50%;
  }

  .bonuses__item {
    max-width: 500px;
  }
}

@media (max-width: 1280px) {
  .item-result_4 {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 1170px) {
  .additions__picture img {
    width: 400px;
  }
}

@media (max-width: 1150px) {
  .main {
    margin-bottom: 100px;
  }
}

@media (max-width: 1080px) {
  .main__text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__picture {
    display: none;
  }

  .bonuses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bonuses__item {
    max-width: 600px;
  }

  .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .certificate-advantages {
    padding: 30px 40px;
  }

  .actions-certificate__title {
    font-size: 24px;
  }

  .additions__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .additions__content_1 .additions__column {
    margin: 0;
  }

  .additions__content_2 .additions__column {
    margin: 0;
  }

  .additions__picture img {
    width: 100%;
    max-width: 500px;
  }

  .item-result_1 {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 0;
  }
}

@media (max-width: 1015px) {
  .result__content {
    height: auto;
  }

  .result__bg {
    display: none;
  }

  .result__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .item-result {
    margin-bottom: 50px;
    max-width: none;
  }

  .item-result:last-child {
    margin-bottom: 0;
  }

  .item-result_1 {
    margin-bottom: 50px;
  }

  .item-result_2 {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .item-result_3 {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-width: 830px) {
  .popup__content {
    background: #fff url(../img/Base.webp) top 0px left -180px no-repeat !important;
    padding: 30px 40px 30px 200px;
  }
}

@media (max-width: 800px) {
  .actions-certificate__btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  ._container {
    padding: 0px 10px;
  }

  .title_start {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title__text {
    font-size: 24px;
  }

  .title__text_start {
    text-align: center;
  }

  .header__container {
    height: 110px;
  }

  .header__logo img {
    width: 130px;
  }

  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__pnumber a {
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 16px;
  }

  .header__pnumber_1 {
    margin: 0px 0px 20px 0px;
  }

  .header__pnumber_1 a {
    padding-left: 20px;
    background: url("../img/phone.svg") 0 0/16px 16px no-repeat;
  }

  .header__pnumber_2 a {
    padding-left: 20px;
    background: url("../img/whatsapp.svg") 0 0/16px 16px no-repeat;
  }

  .main__title {
    font-size: 30px;
  }

  .main__subtitle {
    font-size: 18px;
  }

  .bonuses__item {
    text-align: center;
    max-width: 400px;
  }

  .bonus__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .advantages__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .certificate-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .certificate-advantages__picture {
    margin-bottom: 20px;
  }

  .certificate-advantages__hands {
    display: none;
  }

  .actions-certificate {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .actions-certificate__title {
    text-align: center;
  }

  .cost__line {
    font-size: 15px;
  }

  .cost__stocks {
    font-size: 24px;
  }

  .warning-cost__main {
    font-size: 26px;
  }

  .warning-cost__plain {
    font-size: 17.875px;
  }

  .warning-cost__general {
    font-size: 17.875px;
  }

  .popup__close {
    top: 30px;
    right: 30px;
  }

  .popup__content {
    background: #fff !important;
    padding: 30px 40px;
  }
}

@media (max-width: 625px) {
  .footer {
    padding: 50px 0px;
  }

  .footer__text {
    font-size: 24px;
  }
}

@media (max-width: 570px) {
  .popup__body {
    padding: 15px;
  }
}

@media (max-width: 525px) {
  .certificate-advantages {
    padding: 10px;
    border-radius: 10px;
  }

  .certificate-advantages__picture img {
    max-width: 280px;
  }

  .actions-certificate__title {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .main__title {
    max-width: 200px;
  }

  .actions__title {
    text-align: center;
  }

  .actions__btn,
  .actions-certificate__btn,
  .btn-footer__item {
    width: 280px;
    font-size: 14px;
  }

  .row-additions__icon {
    margin-right: 10px;
  }

  .popup__content {
    padding: 15px;
  }

  .popup__title {
    font-size: 24px;
  }

  .popup__submit {
    width: 100%;
  }

  .btn-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .btn-footer__item {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 415px) {
  .form-cost__input {
    margin-right: 0;
  }
}

.webp .popup__content { background: #fff url(../img/Base.webp) 0 0/auto 100% no-repeat; }